<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.popic">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MaterialComponents.Light"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden|adjustPan">

        <activity android:name=".ui.modifyPicture.ModifyPictureActivity" />
        <activity android:name=".ui.showJoinRequest.ShowJoinRequestActivity" />
        <activity android:name=".ui.uploadPoem.UploadPoemActivity" />
        <activity android:name=".ui.leaveEduclass.LeaveEduclassActivity" />
        <activity android:name=".ui.modifyPoem.ModifyPoemActivity" />
        <activity android:name=".ui.picture.PictureActivity" />
        <activity android:name=".ui.uploadPicture.UploadPictureActivity" />
        <activity android:name=".ui.poem.PoemActivity" />
        <activity
            android:name=".ui.joinEduclass.JoinEduclassActivity"
            android:theme="@style/Theme.MaterialComponents.Light"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.createEduclass.ShowCodeActivity" />
        <activity android:name=".ui.educlass.EduclassActivity" />
        <activity android:name=".ui.createEduclass.CreateEduclassActivity" />
        <activity android:name=".ui.changeUserInformation.ChangeUserInformationActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light" />
        <activity android:name=".ui.register.RegisterActivity" />
    </application>

</manifest>